@font-face {
    font-family: "Alegreya";
    src: url("https://fonts.googleapis.com/css2?family=Alegreya&display=swap");
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Alegreya";
    /* background: linear-gradient(45deg, red, orange); */
}

.game-obstacle {
    background: yellow;
    border: 0.3vw dotted red;
    margin-right: 1vw;
    display: inline-block;
    height: 50px;
    width: 7vw;
    position: relative;
}

#div1 {
    background: red;
}