@font-face {
    font-family: "Alegreya";
    src: url("./fonts/Alegreya-Regular.ttf");
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Alegreya";
    background-image: url(https://imgur.com/TUDBJUS.png);
    background-size: contain;
}

.game-obstacle {
    background-image: url(https://imgur.com/9oKQIqf.png);
    background-size: contain;
    background-repeat: repeat;
    margin-right: 1vw;
    display: inline-block;
    height: 50px;
    width: 7vw;
    position: relative;
    transition: top .1s;
}

#div1 {
    background: red;
}

#canvas {
    height: 95vh;
}

#playerDetails {
    height: 5vh;
    background: linear-gradient(45deg, rgb(153, 246, 255), rgb(231, 153, 255));
}

#playerName {
    padding: 5px 0 0 15px;
    font-size: 22px;
}

#player {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 7vw;
    background: red;
}
